@tailwind base;
@tailwind components;
@tailwind utilities;

.price-shadow {
  background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 15px;
  height: calc(81px);
}
.price-shadow span {
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: rgba(255, 255, 255, 0.92);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
