@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nova";
  src: url("./fonts/proximanova-regular.otf") format("truetype"); /* Adjust the path as needed */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "nova";
  src: url("./fonts/proximanova-bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "nova";
  src: url("./fonts/proximanova-medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "nova";
  src: url("./fonts/proximanova-semibold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.single-box {
  background: linear-gradient(
    rgb(255, 255, 255) -6.71%,
    rgb(235, 235, 242) 56.19%,
    rgb(223, 223, 231) 106.56%
  );
}
